
#drop ul{
  color: black;
}

#drop li li:hover ul {
  visibility: visible;
}

#drop ul {
  margin:0px;
  padding:0px;
}

#drop li {
position: relative;
float: left;
}

#drop ul {
display: block;
height: 0px;
visibility: hidden;
}

 #drop ul {
  position: absolute;
  left: 0px;
  width: 0px;
}

 #logo {
    margin-bottom: 320px;
